body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    border-radius:40px ;

    
}
main {
    max-width: 700px;
    background-color: rgb(65, 122, 207);
    margin: auto;
    padding: 0;
    border-radius: 40px;

}

#search {
    display: flex;
    padding: 15px;
    width: 50%;
    border-radius: 20px;
    border: solid 1px #ddd;
    justify-content: center;
    margin: auto;
    font-size: medium;
    

}
h1 {
    display: flex;
margin: auto;
justify-content: center;
font-size: 50px;
margin-bottom: 10%;
margin-left: 25px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

