body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    border-radius:40px ;
    background-color:rgb(100, 165, 239) ;

    
}
main {
    
    max-width: 600px;
    background-color: rgb(65, 122, 207);
    margin: auto;
    /* padding: 40px;
    padding-top: 20px; */
    border-top-right-radius: 60px;
    /* border-end-end-radius:  60px;  */
    border-end-start-radius: 60px;
    /* border-top-left-radius:60px ; */
    padding-bottom: 20px;

}

#ville {
    padding: 15px;
    width: 50%;
    border-radius: 40px;
    border: solid 1px #ddd;
    font-size: medium;
    text-align: center;
    outline: none;
    

}
h1 {
    /* display: flex;
margin: auto;
justify-content: center; */
text-align: center;
font-size: 50px;
margin-top: 20px;
margin-bottom: 15px;
margin-left: 25px;
padding: 10px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#chercher {
    color:white ;
    padding: 15px;
    border-radius: 40px;
    background-color: orange;
    font-size: medium;
    border: 1px solid orange;
    /* justify-content: space-around; */
}
.search-container{
display: flex;
justify-content: space-evenly;
align-items: center;

}
#chercher:hover {
    
    background-color: orangered;
}
#rs {
    display: flex;
    justify-content: space-evenly;
    
}
#resultat {
display: none;
/* background-color: rgb(62, 150, 222); */
background-color: rgb(100, 165, 239);
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-end-start-radius: 40px;
padding: 15px;
text-align: center;
margin-top: 50px;
border: solid white 1px;

}
#resultat  h2{
color: white;
font-weight: 1000;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

