body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    border-radius: 40px;
    background-color: rgba(100, 165, 239, 0.664);


}

main {
    max-width: 600px;
    background-color: rgba(65, 122, 207, 0.637);
    margin: auto;
    border-top-right-radius: 60px;
    border-end-start-radius: 60px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 10px;
    color: white;
}

#ville {
    padding: 12px;
    width: 50%;
    border-radius: 40px;
    font-size: medium;
    border: none;
    outline: none;
    text-align: left;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#ville:focus {
    box-shadow: 0 0 8px orange;
    border: 2px solid orange;
}

#chercher {
    color: white;
    padding: 12px;
    border-radius: 40px;
    background-color: orange;
    font-size: medium;
    font-weight: 600;
    border: 1px solid orange;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#chercher:hover {
    background-color: rgb(255, 140, 0);
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#chercher:active {
    transform: translateY(-2px);
}

.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#resultat {
    display: none;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.205);
    border-top-right-radius: 60px;
    border-end-start-radius: 60px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: solid white 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.city-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.city-name img {
    width: 80px;
    height: 80px;
}

#resultat h2 {
    color: white;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#resultat h2 span {
    font-size: 16px;
    font-weight: 100;
}

.info {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;    
    margin-top: 25px;
    padding: 10px;
    gap: 3px;
}

.info p {
    color: white;
    font-size: 16px;
    padding: 15px;
    min-height: 40px;
    text-align: center;
    font-weight: 600;
    background-color: #dfdfdf85;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temp-C     {
    margin-top: -10px;
    font-weight: 600;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 40%;
    padding: 10px;
    color: white;
}


